# Ignored Folders
node_modules/
/generators/        # don't commit compiled files
/test/

!src/generators/    # keep the source versions
!src/test/

# Ignored Files
.DS_Store
/gulpfile.js
npm-debug.log       # => compiled
