########################################################################
# File types
########################################################################
*.css
*.json
*.md
*.scss

########################################################################
# Folders
########################################################################
build/templates/
dist/
docs/
